@forward 'globals';

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background: var(--btn-color);
    border-radius: 42px;
    border: none;

    font-family: var(--body-font);
    font-weight: var(--font-bold);
    font-size: var(--body-font-size);
    color: var(--text-color);

    padding: 12px 0;
}
/*=============== Hamburger ===============*/

.header-wrapper {
    width: 100%;
    z-index: 100;
    display: none;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    right: 45px;
    z-index: 1;
  }
  
  .header-wrapper .toggler {
    position: fixed;
    top: 55px;
    right: 65px;
    z-index: 10;
    cursor: pointer;
    width: 50px;
    height: 40px;
    opacity: 0;
  }
  
  .nav-wrapper .hamburger {
    position: absolute;
    top: 45px;
    right: 10px;
    z-index: 1;
    width: 60px;
    height: 65px;
    padding: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-wrapper .hamburger > div {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: all 0.4s ease-in;
  }
  
  /*=============== Styling bottom and top lines of the menu ===============*/
  .nav-wrapper .hamburger > div:before,
  .nav-wrapper .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 45%;
    height: 4px;
    background-color: inherit;
    border-radius: 100px;
    transition: 1s;
  }
  
  .nav-wrapper .hamburger > div:before {
    left: 0;
  }
  
  .nav-wrapper .hamburger > div:after {
    top: 10px;
    right: 0;
  }
  
  /*=============== Animation of the hamburger ===============*/
  .header-wrapper .toggler:checked + .nav-wrapper .hamburger > div:before,
  .header-wrapper .toggler:checked + .nav-wrapper .hamburger > div:after {
    width: 100%;
    transition: 1s;
  }
  
  .menu-wrapper .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-wrapper .menu > div {
    background-color: #222021;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .nav-wrapper .menu > div > div {
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    transition: opacity 0.4s ease;
    opacity: 0;
  }
  
  .nav-wrapper .menu > div > div > ul > li {
    list-style: none;
    color: var(--text-color);
    font-size: var(--h1-font-size);
    font-family: var(--body-font);
    padding: 0;
  }
  
  .nav-wrapper .menu > div > div > ul > li > a {
    text-decoration: none;
    color: inherit;
    transition: color 0.4s ease;
  }
  
  .menu, .nav-wrapper {
    height: 0;
  }

  .nav-wrapper .menu > div > div > ul {
    display: block;
  }
  
  /*=============== Animation for checked state ===============*/
  .header-wrapper .toggler:checked ~ .nav-wrapper .menu {
    visibility: visible;
  }
  
  .header-wrapper .toggler:checked ~ .nav-wrapper {
    z-index: 3;
  }
  
  .header-wrapper .toggler:checked ~ .nav-wrapper .menu > div {
    transform: scale(1);
  }
  
  .header-wrapper .toggler:checked ~ .nav-wrapper .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

@media screen and (max-width: 768px){
    .header-wrapper {
        display: block;
    }
}

/*=============== Navbar ===============*/

.container-vanilla {
    display: flex;
    justify-content: space-between;
}

.navbars {
    padding: 40px 0;
}

#navbar-logo {
    width: 18%;
    padding-left: 100px;
}

nav {
    padding-right: 100px;
}

ul {
    display: flex;
}

ul li {
    padding: 25px 20px;
    list-style: none;
}

.wood-stack-navbar {
    position: absolute;
    z-index: -1;
    width: 41.4%;
    top: 0;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .wood-stack-navbar {
        width: 85%;
    }
}

/*=============== Hero ===============*/

.hero {
    display: flex;
    width: 100%;
    justify-content: end;
}

.hero-container  {
    display: inline-grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr;

    width: 85%;
    height: 714px;

    filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
    background-color: var(--hero-color);
    border-radius: 43px 0 0 43px;
}

.hero-seperator {
    border: 1px solid var(--text-color);
    height: 75%;
    width: 0;
    margin-top: 40px;
}

.hero-one {
    margin: 75px 0 0 50px;
}

.hero-one h2 {
    color: #FFDBBB;
}

.hero-two {
    margin: auto;
}

.btn-order {
    width: 225px;
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
    #navbar-logo {
        width: 35%;
    }

    .hero-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .hero-seperator {
        height: 0;
        width: 85%;
        margin-left: 50px;
    }

    .hero-two #comp_4 {
        position: relative;
        top: -13rem;
        right: -6.88rem;
        width: 90%;
    }
}

/*=============== Type wood===============*/

.main-container {
    padding-left: 220px;
}

.type-wood {
    margin-top: 400px;
}

.type-wood h1 {
    padding-bottom: 120px;
}

/*=============== Carousel===============*/

.media-scroller {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    margin-bottom: 100px;
}

.offset {
    margin-top: 61px;
}

.wood {
    display: grid;
    place-items: center;
    width: fit-content;
    height: fit-content;
    margin: 0 40px 0 0;
}

.wood h2 {
    padding-top: 34px;
    padding-bottom: 44px;
    font-weight: var(--font-bold);
}

.wood ol {
    list-style: none;
}

.wood ol li {
    color: var(--text-color);
    padding: 0 0 28px 10px;
    display: flex;
    align-items: center;
}

.wood ol li img {
    padding-right: 12px;
}

@media screen and (max-width: 768px) {

    .main-container {
        padding: 0;
        display: grid;
        place-items: center;
    }
}

.carousel-cont {
    padding: 7.5rem 0 17.835rem 0;
}

.rounded-edges {
    border-radius: 42px;
}

/*=============== Advantages of working with us ===============*/

.section-vanilla {
    display: flex;
    margin-top: 7.5rem;
}

.section-vanilla ol {
    list-style-type: none;
    margin-left: 5%; 
}

.section-vanilla ol li {
    font-family: var(--body-font);
    font-weight: var(--font-medium);
    font-size: var(--body-font-size);
    color: var(--text-color);

    padding-bottom: 46px;
}

.btn-consultation {
    margin-top: 7.5rem;
    width: 29.5rem;
}

@media screen and (max-width: 768px){
    .section-vanilla {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .vanilla h1 {
        font-size: 4.5rem;
    }
}

/*=============== About us ===============*/

.hero-left {
    justify-content: start;
    border-radius: 0 42px 42px 0;

    grid-template-columns: 3fr 2fr;
    place-items: start end;

    height: fit-content;
}

.spacing {
    margin-top: 18.75rem;
}

#comp_6 {
    margin: 61px 0 31px 0;
}

.hero-left .hero-one {
    place-items: right;
}

.hero-one, .hero-two {
    padding-right: 25px;
}

@media screen and (max-width: 768px){
    .hero-left {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
}

/*=============== Questions ===============*/

.questions {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.4fr 1fr;
    justify-items: end;
    margin-top: 190px;
}

form {
    display: grid;
}

input[type="text"], input[type="tel"], textarea {
    background: transparent;
    border: 4px solid var(--btn-color);
    border-radius: 42px;

    font-family: var(--body-font);
    font-weight: var(--font-medium);
    font-size: var(--body-font-size);
    color: var(--text-color);

    padding: 10px 20px;
    margin-bottom: 23px;
    width: 600px;
}

.form-left {
    grid-row-start: 2;
    grid-column-start: 2;
}

.form-right {
    grid-row-start: 2;
    grid-column-start: 3;
}

.btn-send {
    width: 216px;
}

.questions-h {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

@media screen and (max-width: 768px){
    .questions-h h1{
        font-size: 4.5rem;
    }

    .questions {
        grid-template-columns: 1;
        grid-template-rows: 2;
        justify-items: center;
    }

    .questions-h {
        grid-row-start: 1;
    }

    .form-left {
        grid-row-start: 3;
    }

    .form-right {
        grid-column-start: 2;
        grid-row-start: 2;
        margin: 50px 0;
    }
}

@media screen and (max-width: 1280px) {
    .questions {
        gap: 25px;
        grid-template-columns: 0.1fr 1fr 2fr 0.1fr;
    }
}

/*=============== Footer ===============*/

footer {
    margin-top: 110px;
    min-height: 200px;
    width: 100vw;
    background-color: #222021;
    box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.17);
}

.footer-container {
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 200px;
}

.footer-container h2 {
    text-align: center;
}

.wood-log {
    z-index: -1;
    position: absolute;
    transform: translate(180%, -70%);
}

@media screen and (max-width: 768px){
    .wood-log {
        display: none;
    }

    .footer-container {
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (max-width: 1280px){
    .wood-log {
        transform: translate(115%, -70%);
        width: 45%;
    }
}

@media screen and (min-width: 1600px) {
    .wood-log {
        transform: translate(140%, -70%);
    }
}

/*=============== Mobile 320x480 media queries ===============*/

@media screen and (max-width: 320px) {
    #navbar-logo {
        width: 55%;
        padding-left: 20px;
    }

    .hero-one h2 {
        font-size: 1.2rem;
    }

    .hero-one {
        margin-top: 50px;
        margin-left: 25px;
    }

    .btn-order {
        width: 12rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-top: 20px
    }

    .hero-seperator {
        width: 70%;
    }

    .hero-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 1fr;
    }

    .hero-two {
        display: none;
    }

    .hero .hero-container {
        height: 400px;
    }

    .type-wood {
        margin-top: 120px;
        width: 100vw;
        overflow-x: auto;
    }

    .type-wood h1 {
        margin-left: 20px;
        padding-bottom: 50px;
    }

    .type-wood-scrollers {
        width: 80%;
    }

    .media-scroller {
        overflow-x: auto;
    }

    h1 {
        font-size: 2.4rem;
        line-height: 42px;
    }

    .carousel-cont {
        padding: 25px 0 50px 0;
    }

    .vanilla h1 {
        font-size: 2rem;
        line-height: 42px;
    }

    #staircase {
        width: 75%;
    }

    .section-vanilla {
        margin-top: 2rem;
        place-items: center;
    }

    .section-vanilla {
        grid-template-columns: 1fr;
        grid-template-rows: 65% 1fr;
    }

    .section-vanilla ol li {
        font-size: 1.2rem;
        padding-bottom: 15px;
    }

    .section-vanilla ol {
        margin-top: 20px;
    }

    .btn-consultation {
        width: 18rem;
        margin: 0;
        font-size: 1.2rem;
    }

    .spacing {
        margin-top: 120px;;
    }

    .hero-left .hero-one p{
        font-size: 1.2rem;
        padding-right: 10px;
    }

    .hero-left .hero-one {
        margin: 25px 0 0 25px;
    }

    .hero-left .hero-container {
        overflow-y: scroll;
    }

    .questions {
        margin-top: 100px;
        place-items: start;
        justify-content: start;
        grid-template-columns: 1fr;
        grid-template-rows: 2.5rem 3.8rem 1fr;
        place-items: center start;
    }

    .questions-h h1 {
        font-size: 2.2rem;
        margin-left: 6px;
        margin-bottom: 8rem;
    }

    .form-right p {
        font-size: 1rem;
        padding-bottom: 2.5em;
        width: 20rem;
    }

    .form-right {
        margin: 0;
    }

    input[type="text"], input[type="tel"], textarea {
        font-size: 1.2rem;
    
        padding: 10px 20px;
        margin-bottom: 23px;
        width: 250px;
    }

    input[type="submit"] {
        font-size: 1.5rem;
    }

    footer h2 {
        font-size: 1.2rem;
    }

    nav-wrapper .menu > div > div > ul > li{
        font-size: 1rem;
    }

    .rounded-edges {
        border-radius: 20px;
    }
}